:root {
    --background: #FFFFFF;
    --primary: #000000;
    --secondary: #DC3545;
    --searchbar: #E4E4E4;
    --history: #F5F5F5;
}

body {
    background-color: var(--background);
    color: var(--primary);
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Inter';
}

.hidden {
    display: none !important;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    transition: left 0.3s ease-in-out;
}

.active {
    left: 0 !important;
}

.page-right {
    left: 100% !important;
}

.page-left {
    left: -100% !important;
}

h1 {
    font-weight: 600;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

button {
    height: 4rem;
    width: 90%;
    border-radius: 8px;
    cursor: pointer;
    margin: 0.5rem;
    font-size: 1.2rem;
}

.button-primary {
    background-color: var(--primary);
    color: var(--background);
    border: none;
}

.button-secondary {
    background-color: var(--background);
    color: var(--primary);
    border: 2px solid var(--primary);
}

.button-danger {
    background-color: var(--secondary);
    color: var(--background);
    border: none;
}

.smol-button {
    height: 2.5rem;
    border-radius: 8px;
    cursor: pointer;
    margin: 0.5rem;
    font-size: 1rem;
}

.confirm-dialog {
    position: absolute;
    height: 18rem;
    width: 80%;
    top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid var(--primary);
    border-radius: 15px;
    background-color: var(--background);
    z-index: 2;
}

.confirm-head {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
}

.confirm-head h2 {
    margin: 0;
}

.confirm-head p {
    margin: 0.5rem 0;
}

.confirm-extraInfo {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-extraInfo textarea {
    width: 90%;
    height: 7rem;
    border-radius: 12px;
    padding: 0.5rem;
    background-color: var(--searchbar);
    border: none;
}

.confirm-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.info-dialog {
    position: absolute;
    width: 80%;
    max-height: 30rem;
    top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid var(--primary);
    border-radius: 15px;
    background-color: var(--background);
    z-index: 2;
}

.info-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
}

.info-head h2 {
    margin: 0;
}

.info-content {
    width: 100%;
    overflow: auto;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.info-content li {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid var(--primary);
}

.li-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.li-row p {
    margin: 0;
}

.info-content li .li-right {
    display: flex;
    align-items: center;
}

.info-remove {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 10px;
    background-color: var(--secondary);
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    margin: 0;
    margin-left: 0.5rem;
}

.info-total {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info-total p {
    margin: 0.5rem 0;
}

#tableNumber {
    font-size: 1rem;
}

.info-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.order, .historik, .kvitto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button {
    position: absolute;
    left: 1rem;
    cursor: pointer;
    font-size: 2rem !important;
}

.searchbar {
    width: 90%;
    height: 3rem;
    border-radius: 8px;
    background-color: var(--searchbar);
}

.order-history {
    width: 100%;
    height: calc(100% - 8rem);
}

.order-history ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.order-history li {
    background-color: var(--history);
    width: 90%;
    height: 3rem;
    text-align: left;
    border-radius: 8px;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.order-history li h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 0.5rem;
    margin-bottom: 0.25rem;
}

.order-history li p {
    font-weight: 300;
    font-size: 1rem;
    margin: 0 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.searchbar input {
    width: calc(100% - 2rem);
    height: 100%;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    background-color: var(--searchbar);
    padding: 0 1rem;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.nav-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-buttons p {
    cursor: pointer;
    margin: 0;
}

.selected {
    font-weight: 700;
}

.nav-slider {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.nav-bar {
    position: absolute;
    height: 3px;
    background-color: var(--primary);
    border-radius: 10px;
}

.order-total {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    border-top: 1px solid var(--primary);
}

.order-amount {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem 0;
}

.order-amount p {
    margin: 0 1rem;
}

.order-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem 0;
}

.order-menu {
    position: relative;
    width: 100%;
    height: calc(100% - 18.5rem);
    margin-top: 0.5rem;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.pizzas, .soda, .sauces {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll !important;
    transition: left 0.3s ease-in-out;
}

.pizza-list, .soda-list, .sauces-list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.menu-active {
    left: 0;
}

.menu-left {
    left: -100%;
}

.menu-right {
    left: 100%;
}

.pizza-list li, .soda-list li, .sauces-list li {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pizza-list li p, .soda-list li p, .sauces-list li p {
    margin: 1rem;
}

h2 {
    width: 100%;
}

.kvitto-obj {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.kvitto-obj ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.kvitto-obj li {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.kvitto-obj li div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.kvitto-obj li p {
    margin: 0;
}

.kvitto-total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    border-top: 1px solid var(--primary);
}

.kvitto-total p {
    margin: 0.5rem 0;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}