:root {
    --background: #FFFFFF;
    --primary: #000000;
    --secondary: #DC3545;
    --searchbar: #E4E4E4;
}

body {
    background-color: var(--background);
    color: var(--primary);
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}

h1 {
    font-weight: 600;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

button {
    height: 4rem;
    width: 90%;
    border-radius: 8px;
    cursor: pointer;
    margin: 0.5rem;
    font-size: 1.2rem;
}

.button-primary {
    background-color: var(--primary);
    color: var(--background);
    border: none;
}

.button-secondary {
    background-color: var(--background);
    color: var(--primary);
    border: 2px solid var(--primary);
}

.order {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button {
    position: absolute;
    left: 1rem;
    cursor: pointer;
    font-size: 2rem !important;
}

.searchbar {
    width: 90%;
    height: 3rem;
    border-radius: 8px;
    background-color: var(--searchbar);
}

.searchbar input {
    width: calc(100% - 2rem);
    height: 100%;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    background-color: var(--searchbar);
    padding: 0 1rem;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}